In [15]:
import numpy as np
import pandas as pd
import os
import argparse
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
import time

In [16]:
from keras.models import Sequential, Model
from keras.layers import Input,Embedding,LSTM,Dense
from keras.optimizers import Adam
from keras.layers import Input, concatenate, Embedding, Reshape
from keras.layers import Merge, Flatten, merge, Lambda, Dropout
from keras.layers.normalization import BatchNormalization
from keras.models import Model
from keras.regularizers import l2, l1_l2
import tensorflow as tf

In [17]:
myfolder = '/Users/BharathiSrinivasan/Documents/HU-MEMS-Sem3/Info_Systems/repo/Recommender_DNN/Data/'
big_users = pd.read_csv(myfolder + 'bigtrain.csv')
#test = pd.read_csv(myfolder + 'bigtest.csv')
products = pd.read_csv(myfolder + "products.csv")

#To Do : Include this in pre-processing dataset while creating bigtrain and bigtest
#train.dropna()
#test.dropna()

In [18]:
df = big_users

#Only keep orders which have been reordered
df_seq = df[df.reordered==1]

#To Do : Include this in pre-processing dataset while creating bigtrain and bigtest
df.drop(['eval_set'],axis=1)

,user_id,user_orders,order_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id
0,17,40,1737705,1,2,13,30,7350,1,0,115,7
1,17,40,1681401,2,5,10,3,7350,1,1,115,7
2,17,40,2680214,3,3,10,5,7350,1,1,115,7
3,17,40,3237467,5,6,17,5,7350,1,1,115,7
4,17,40,2616505,6,4,17,5,7350,2,1,115,7
5,17,40,2648319,7,1,13,4,7350,1,1,115,7
6,17,40,2430354,8,0,15,6,7350,1,1,115,7
7,17,40,900554,10,0,15,4,7350,1,1,115,7
8,17,40,805025,11,4,15,4,7350,2,1,115,7
9,17,40,912404,12,2,14,5,7350,1,1,115,7
10,17,40,1389057,13,1,13,6,7350,2,1,115,7
11,17,40,603534,14,6,17,5,7350,1,1,115,7
12,17,40,2660930,15,2,16,3,7350,1,1,115,7
13,17,40,1719551,16,1,12,6,7350,1,1,115,7
14,17,40,601444,17,5,21,4,7350,1,1,115,7
15,17,40,2956367,18,6,12,8,7350,4,1,115,7
16,17,40,2508834,19,5,11,6,7350,1,1,115,7
17,17,40,415389,20,5,13,7,7350,1,1,115,7
18,17,40,3141030,21,2,12,4,7350,1,1,115,7
19,17,40,3069802,23,3,23,4,7350,1,1,115,7
20,17,40,1683378,24,1,10,5,7350,1,1,115,7
21,17,40,2795254,25,0,11,6,7350,1,1,115,7
22,17,40,343199,26,5,17,5,7350,1,1,115,7
23,17,40,3314059,28,1,9,4,7350,1,1,115,7
24,17,40,697863,29,6,14,5,7350,1,1,115,7
25,17,40,2760791,32,1,22,4,7350,1,1,115,7
26,17,40,2553089,33,3,11,9,7350,1,1,115,7
27,17,40,791858,34,5,12,16,7350,1,1,115,7
28,17,40,2773605,35,6,13,8,7350,1,1,115,7
29,17,40,674977,36,3,12,30,7350,1,1,115,7
...,...,...,...,...,...,...,...,...,...,...,...,...
16587477,205213,48,1531206,29,3,12,7,11279,3,1,112,3
16587478,205213,48,206941,30,1,23,5,11279,8,1,112,3
16587479,205213,48,3249973,31,4,12,10,11279,6,1,112,3
16587480,205213,48,2631499,32,2,9,5,11279,2,1,112,3
16587481,205213,48,1530209,33,5,10,10,11279,12,1,112,3
16587482,205213,48,2058972,34,2,10,11,11279,4,1,112,3
16587483,205213,48,2444485,44,3,1,7,11279,16,1,112,3
16587484,205213,48,133095,24,0,10,8,27492,21,0,72,13
16587485,205213,48,2194450,28,3,9,7,27492,4,1,72,13
16587486,205213,48,3249973,31,4,12,10,27492,16,1,72,13
16587487,205213,48,1780953,40,2,12,9,476,25,0,95,15
16587488,205213,48,2244275,45,6,17,3,43935,11,0,106,12
16587489,205237,99,2029262,76,1,12,3,38493,24,0,40,8
16587490,205640,47,272635,44,0,8,7,17098,18,0,89,13
16587491,205777,26,1466072,26,2,20,30,13154,12,0,100,21
16587492,205799,26,2527696,5,5,10,9,19552,5,0,72,13
16587493,205856,28,3036149,14,4,10,13,11787,11,0,30,6
16587494,205868,33,2853663,31,2,13,22,40033,21,0,43,3
16587495,205888,29,3371747,4,1,15,2,43095,6,0,47,11
16587496,205888,29,584137,5,6,11,5,43095,3,1,47,11
16587497,205888,29,1404427,27,2,17,4,29984,5,0,26,7
16587498,205915,29,400387,14,5,16,7,35447,9,0,54,17
16587499,205915,29,1799151,15,6,11,1,35447,7,1,54,17
16587500,205915,29,982455,21,4,17,9,4403,7,0,100,21
16587501,206051,37,113980,11,5,15,8,2060,10,0,61,19
16587502,206123,28,1804216,27,6,10,7,1899,11,0,83,4
16587503,206165,27,2271861,2,4,0,8,18015,20,0,40,8
16587504,206165,27,620298,12,5,16,0,1791,28,0,30,6
16587505,206165,27,360804,20,4,16,22,13862,17,0,6,2
16587506,206165,27,2605138,26,2,10,10,1381,28,0,127,11

In [19]:
#Merge with products dataset
df_seq = pd.merge(df_seq,products,on='product_id',how='left')
df_seq[['user_id','order_id','product_id','product_name','reordered']].head()

,user_id,order_id,product_id,product_name,reordered
0,17,1681401,7350,Natural Lime Flavor Sparkling Mineral Water,1
1,17,2680214,7350,Natural Lime Flavor Sparkling Mineral Water,1
2,17,3237467,7350,Natural Lime Flavor Sparkling Mineral Water,1
3,17,2616505,7350,Natural Lime Flavor Sparkling Mineral Water,1
4,17,2648319,7350,Natural Lime Flavor Sparkling Mineral Water,1

In [20]:
#Creating baskets of product sequences for each user ID
df_seq["product_name"] = df_seq["product_name"].astype(str)
df_seq = df_seq.groupby("user_id").apply(lambda order: order['product_name'].tolist())
df_seq = df_seq.reset_index()
df_seq.columns = ['user_id','product_set']
df_seq.product_set = df_seq.product_set.astype(str)
df_seq.head()

   user_id                                        product_set
0       17  ['Natural Lime Flavor Sparkling Mineral Water'...
1       21  ['Hard Boiled Eggs', 'Hard Boiled Eggs', 'Hard...
2       27  ['Total 2% All Natural Greek Strained Yogurt w...
3       36  ['Sparkling Water Grapefruit', 'Sparkling Wate...
4       50  ['Organic Strawberries', 'Organic Strawberries...

In [21]:
#PRE-PROCESSING
y = df['reordered'].values
df.pop('reordered')

0           0
1           1
2           1
3           1
4           1
5           1
6           1
7           1
8           1
9           1
10          1
11          1
12          1
13          1
14          1
15          1
16          1
17          1
18          1
19          1
20          1
21          1
22          1
23          1
24          1
25          1
26          1
27          1
28          1
29          1
           ..
16587477    1
16587478    1
16587479    1
16587480    1
16587481    1
16587482    1
16587483    1
16587484    0
16587485    1
16587486    1
16587487    0
16587488    0
16587489    0
16587490    0
16587491    0
16587492    0
16587493    0
16587494    0
16587495    0
16587496    1
16587497    0
16587498    0
16587499    1
16587500    0
16587501    0
16587502    0
16587503    0
16587504    0
16587505    0
16587506    0
Name: reordered, Length: 16587507, dtype: int64

In [22]:
CATEGORICAL_COLUMNS = ["order_dow", "order_hour_of_day"]
CONTINUOUS_COLUMNS = [ "user_orders", "order_number", "add_to_cart_order"]

#One-hot encoding categorical columns
df = pd.get_dummies(df, columns=[x for x in CATEGORICAL_COLUMNS])

,user_id,user_orders,order_id,order_number,days_since_prior_order,product_id,add_to_cart_order,aisle_id,department_id,IS_TRAIN,...,order_hour_of_day_14,order_hour_of_day_15,order_hour_of_day_16,order_hour_of_day_17,order_hour_of_day_18,order_hour_of_day_19,order_hour_of_day_20,order_hour_of_day_21,order_hour_of_day_22,order_hour_of_day_23
0,17,40,1737705,1,30,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
1,17,40,1681401,2,3,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
2,17,40,2680214,3,5,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
3,17,40,3237467,5,5,7350,1,115,7,1,...,0,0,0,1,0,0,0,0,0,0
4,17,40,2616505,6,5,7350,2,115,7,1,...,0,0,0,1,0,0,0,0,0,0
5,17,40,2648319,7,4,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
6,17,40,2430354,8,6,7350,1,115,7,1,...,0,1,0,0,0,0,0,0,0,0
7,17,40,900554,10,4,7350,1,115,7,1,...,0,1,0,0,0,0,0,0,0,0
8,17,40,805025,11,4,7350,2,115,7,1,...,0,1,0,0,0,0,0,0,0,0
9,17,40,912404,12,5,7350,1,115,7,1,...,1,0,0,0,0,0,0,0,0,0
10,17,40,1389057,13,6,7350,2,115,7,1,...,0,0,0,0,0,0,0,0,0,0
11,17,40,603534,14,5,7350,1,115,7,1,...,0,0,0,1,0,0,0,0,0,0
12,17,40,2660930,15,3,7350,1,115,7,1,...,0,0,1,0,0,0,0,0,0,0
13,17,40,1719551,16,6,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
14,17,40,601444,17,4,7350,1,115,7,1,...,0,0,0,0,0,0,0,1,0,0
15,17,40,2956367,18,8,7350,4,115,7,1,...,0,0,0,0,0,0,0,0,0,0
16,17,40,2508834,19,6,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
17,17,40,415389,20,7,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
18,17,40,3141030,21,4,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
19,17,40,3069802,23,4,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,1
20,17,40,1683378,24,5,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
21,17,40,2795254,25,6,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
22,17,40,343199,26,5,7350,1,115,7,1,...,0,0,0,1,0,0,0,0,0,0
23,17,40,3314059,28,4,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
24,17,40,697863,29,5,7350,1,115,7,1,...,1,0,0,0,0,0,0,0,0,0
25,17,40,2760791,32,4,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,1,0
26,17,40,2553089,33,9,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
27,17,40,791858,34,16,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
28,17,40,2773605,35,8,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
29,17,40,674977,36,30,7350,1,115,7,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16587477,205213,48,1531206,29,7,11279,3,112,3,1,...,0,0,0,0,0,0,0,0,0,0
16587478,205213,48,206941,30,5,11279,8,112,3,1,...,0,0,0,0,0,0,0,0,0,1
16587479,205213,48,3249973,31,10,11279,6,112,3,1,...,0,0,0,0,0,0,0,0,0,0
16587480,205213,48,2631499,32,5,11279,2,112,3,1,...,0,0,0,0,0,0,0,0,0,0
16587481,205213,48,1530209,33,10,11279,12,112,3,1,...,0,0,0,0,0,0,0,0,0,0
16587482,205213,48,2058972,34,11,11279,4,112,3,1,...,0,0,0,0,0,0,0,0,0,0
16587483,205213,48,2444485,44,7,11279,16,112,3,1,...,0,0,0,0,0,0,0,0,0,0
16587484,205213,48,133095,24,8,27492,21,72,13,1,...,0,0,0,0,0,0,0,0,0,0
16587485,205213,48,2194450,28,7,27492,4,72,13,1,...,0,0,0,0,0,0,0,0,0,0
16587486,205213,48,3249973,31,10,27492,16,72,13,1,...,0,0,0,0,0,0,0,0,0,0
16587487,205213,48,1780953,40,9,476,25,95,15,1,...,0,0,0,0,0,0,0,0,0,0
16587488,205213,48,2244275,45,3,43935,11,106,12,1,...,0,0,0,1,0,0,0,0,0,0
16587489,205237,99,2029262,76,3,38493,24,40,8,1,...,0,0,0,0,0,0,0,0,0,0
16587490,205640,47,272635,44,7,17098,18,89,13,1,...,0,0,0,0,0,0,0,0,0,0
16587491,205777,26,1466072,26,30,13154,12,100,21,1,...,0,0,0,0,0,0,1,0,0,0
16587492,205799,26,2527696,5,9,19552,5,72,13,1,...,0,0,0,0,0,0,0,0,0,0
16587493,205856,28,3036149,14,13,11787,11,30,6,1,...,0,0,0,0,0,0,0,0,0,0
16587494,205868,33,2853663,31,22,40033,21,43,3,1,...,0,0,0,0,0,0,0,0,0,0
16587495,205888,29,3371747,4,2,43095,6,47,11,1,...,0,1,0,0,0,0,0,0,0,0
16587496,205888,29,584137,5,5,43095,3,47,11,1,...,0,0,0,0,0,0,0,0,0,0
16587497,205888,29,1404427,27,4,29984,5,26,7,1,...,0,0,0,1,0,0,0,0,0,0
16587498,205915,29,400387,14,7,35447,9,54,17,1,...,0,0,1,0,0,0,0,0,0,0
16587499,205915,29,1799151,15,1,35447,7,54,17,1,...,0,0,0,0,0,0,0,0,0,0
16587500,205915,29,982455,21,9,4403,7,100,21,1,...,0,0,0,1,0,0,0,0,0,0
16587501,206051,37,113980,11,8,2060,10,61,19,1,...,0,1,0,0,0,0,0,0,0,0
16587502,206123,28,1804216,27,7,1899,11,83,4,1,...,0,0,0,0,0,0,0,0,0,0
16587503,206165,27,2271861,2,8,18015,20,40,8,1,...,0,0,0,0,0,0,0,0,0,0
16587504,206165,27,620298,12,0,1791,28,30,6,1,...,0,0,1,0,0,0,0,0,0,0
16587505,206165,27,360804,20,22,13862,17,6,2,1,...,0,0,1,0,0,0,0,0,0,0
16587506,206165,27,2605138,26,10,1381,28,127,11,1,...,0,0,0,0,0,0,0,0,0,0

In [23]:
df[df==np.inf]=np.nan
df.dropna()
np.all(np.isfinite(df))
#df[np.isfinite(df) | np.isnan(df)]

True

In [24]:
df.reset_index()
df = pd.DataFrame(MinMaxScaler().fit_transform(df), columns=df.columns)
X = df.values

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [26]:
#Wide: Linear Model
wide = Sequential()
wide.add(Dense(1, input_dim=X_train.shape[1]))

In [32]:
#Deep Neural Network with 2 hidden layers of 100 and 50 neurons
deep = Sequential()
# TODO: add embedding
deep.add(Embedding(input_dim=X_train.shape[1], output_dim=1000))
deep.add(Dense(input_dim=1000, output_dim=100, activation='relu'))
deep.add(Dense(100, activation='relu'))
deep.add(Dense(50, activation='relu'))
deep.add(Dense(1, activation='sigmoid'))

/Users/BharathiSrinivasan/anaconda2/envs/python36/lib/python3.6/site-packages/ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(input_dim=1000, activation="relu", units=100)`
  """

In [33]:
#Wide + Deep
model = Sequential()
model.add(Merge([wide, deep], mode='concat', concat_axis=1))
#model = Model(inputs=[main_input, auxiliary_input], outputs=[main_output, auxiliary_output])
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='rmsprop',loss='binary_crossentropy',metrics=['accuracy'])

/Users/BharathiSrinivasan/anaconda2/envs/python36/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: The `Merge` layer is deprecated and will be removed after 08/2017. Use instead layers from `keras.layers.merge`, e.g. `add`, `concatenate`, etc.
  This is separate from the ipykernel package so we can avoid doing imports until

ValueError: "concat" mode can only merge layers with matching output shapes except for the concat axis. Layer shapes: [(None, 1), (None, None, 1)]

In [58]:
t0=time.time()
model.fit([X_train, X_train], y_train, nb_epoch=10, batch_size=32)
print("training time:", round(time.time()-t0, 3), "s")

/Users/BharathiSrinivasan/anaconda2/envs/python36/lib/python3.6/site-packages/keras/models.py:944: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  warnings.warn('The `nb_epoch` argument in `fit` '

Epoch 1/10
12440630/12440630 [==============================] - 902s 73us/step - loss: 0.5346 - acc: 0.7506
Epoch 2/10
12440630/12440630 [==============================] - 867s 70us/step - loss: 0.5368 - acc: 0.7512
Epoch 3/10
12440630/12440630 [==============================] - 803s 65us/step - loss: 0.5388 - acc: 0.7511
Epoch 4/10
12440630/12440630 [==============================] - 836s 67us/step - loss: 0.5400 - acc: 0.7510
Epoch 5/10
12440630/12440630 [==============================] - 800s 64us/step - loss: 0.5420 - acc: 0.7506
Epoch 6/10
12440630/12440630 [==============================] - 814s 65us/step - loss: 0.5432 - acc: 0.7502
Epoch 7/10
12440630/12440630 [==============================] - 832s 67us/step - loss: 0.5455 - acc: 0.7500
Epoch 8/10
12440630/12440630 [==============================] - 860s 69us/step - loss: 0.5463 - acc: 0.7498
Epoch 9/10
12440630/12440630 [==============================] - 840s 68us/step - loss: 0.5477 - acc: 0.7489
Epoch 10/10
12440630/12440630 [==============================] - 966s 78us/step - loss: 0.5520 - acc: 0.7480
training time: 8522.128 s

In [59]:
loss, accuracy = model.evaluate([X_test, X_test], y_test)
print('\n', 'test accuracy:', accuracy)

4146877/4146877 [==============================] - 121s 29us/step

 test accuracy: 0.7483245825715008

In [60]:
# serialize model to JSON
model_json = model.to_json()
with open("model.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("wide_deep1.h5")
print("Saved model to disk")

Saved model to disk

In [62]:
""""
#Later
# load json and create model
json_file = open('model.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
# load weights into new model
loaded_model.load_weights("model.h5")
print("Loaded model from disk")
"""""

'"\n#Later\n# load json and create model\njson_file = open(\'model.json\', \'r\')\nloaded_model_json = json_file.read()\njson_file.close()\nloaded_model = model_from_json(loaded_model_json)\n# load weights into new model\nloaded_model.load_weights("model.h5")\nprint("Loaded model from disk")\n'